
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 14px auto;;
    padding: 0 10px;
    width: 857px;
    max-width: 100%;
  }

   /* # HEADER */

.upper-header > .container{
  display: flex;
  align-items: center;

  /* padding: 15px 0; */
  
}


.upper-header > * {
  background-color: rgba(226, 139, 98, 0.814);
  border: 2px dashed rgb(77, 206, 218);
  padding: 1px 0;
  height: 83px;
}

.upper-header > .container > nav{
  flex-grow: 1;
  text-align: center;

}

.upper-header > .container > header-logo{
  text-align: center;

}

.hero-header{
background-color: blue;

padding: 61px 183px;
}

.hero-header > .container{
  background-color: blueviolet;
  width: 800px;
 min-height: 300px
  ;
}