
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 14px auto;;
    width: 738px;
    max-width: 100%;
  }

   /* # HEADER */

.upper-header > .container{
  display: flex;
  align-items: center;
}


.upper-header > * {
  background-color: rgb(244, 150, 109);
  border: 2px dashed rgb(0, 0, 0);
  padding: 1px 0;
  height: 83px;
}

.upper-header > .container > nav{
  flex-grow: 1;
  text-align: center;

}

.upper-header > .container > .header-logo{
  text-align: center;

}

.hero-header{
background-color: blue;

padding: 61px 183px;
}
 

.hero-header > .container{
  background-color: blueviolet;
  width: 800px;
 min-height: 300px
  ;
}

/* # MAIN */

.upper-main > .container{
  display: flex;
  gap: 0%;
  border: 2PX dashed black;

}

.upper-main > .container >.blocco1{
  display: flex;
  background-color: aquamarine;
  height: 319px;
  width: 675px;
  flex-direction: row;
  border: 2px dashed black;
}

.upper-main > .container >.blocco2{
  background-color: rgb(178, 133, 183);
  height: 319px;
  width: 360px;
}

.inferior-main{
  display: flex; 
  align-items: center;
  height: 642px;
  width: 800px;
  background-color: green;
  margin-bottom: 30px;
  margin: auto;
  border: 2px dashed black;
}

/* # FOOTER */

.upper-footer > .container{
  display: flex;
  gap: 0%;
  border: 2PX dashed rgb(247, 241, 241);
  background-color: black;

}

.upper-footer > .container >.blocco1-footer{
  background-color: rgb(228, 165, 228);
  height: 386px;
  width: 174px;
  border: 2px dashed black;
}

.upper-footer > .container >.blocco2-footer{
  background-color: rgb(58, 145, 145);
  height: 386px;
  width: 561px;
  border: 2px dashed white;
  
}

